---
layout: default
---

<div class="wrapper">
    
    <div class="top">

        <div class="homemain">
            <h2 style="text-align:center;"><a class="post-name">Human-Centered Explainable NLP</a></h2>
            
        </div>

    </div>


    <div class="homemain" style="text-align:center;">

        <br>

        <span class="cl-item">
            {% include _icons/scholar.html username='Paper' %}
        </span>

        <span class="cl-item">
            {% include _icons/github.html username='Github' %}
        </span>

        <span class="cl-item">
            {% include _icons/email.html username=' Email Us' %}
        </span>



    </div>
    

    <div class="homemain">

    <br>

    <div class="research-interest">
        <p>
            This website collects the <a class="post-link" href="https://arxiv.org/abs/2103.14973">Over 200 NLP Explanation</a> studies analyzed by the paper <a class="post-link" href="https://arxiv.org/abs/2103.14973">"Explaining the Road Not Taken"</a>, accepted by the <a class="post-link" href="https://hcxai.jimdosite.com/">CHI 2021 HCXAI</a> Workshop.
        </p>
    </div>

    <div class="research-interest">
        <span class="subtitle">Form Annotations of 200+ NLP Explanation Studies</span>
        <p><a class='page-link' href='https://human-centered-exnlp.github.io/src/forms.html'>Click</a> the screenshot or button to see detailed form annotations of 200+ NLP Explanation studies.</p>
        <a class='page-link' href='https://human-centered-exnlp.github.io/src/forms.html'>
        <img 
        src="/assets/images/form_screenshot.png"
        alt="" >
        <button type="button" class="form-button">Open 200+ NLP Explanation Form Annotations</button>
        </a>
    </div>


    <div class="research-interest">
        <span class="subtitle">How Did We Define an NLP Explanation Study?</span>
        <p>
            We defined a paper as an "NLP explanation" study by satisfying: 
            <li class="publist">
                <span><i>(i)</i> its motivation was to explain or analyze NLP models, tasks, or datasets;</span>
            </li>

            <li class="publist">
                <span>or <i>(ii)</i> it aimed to develop more explainable NLP models, tasks, or datasets;</span>
            </li>

            <li class="publist">
                <span>or <i>(iii)</i> the explanation format is natural language.</span>
            </li>
        </p>
    </div>
<!-- 
    <div class="research-interest">
        <span class="subtitle">What conference/journals does the paper list cover?</span>
        <p><a class='page-link' href='/assets/files/venues.html'><strong>Here</strong></a> is a table for coveraged conferences and journals.</p>
    </div> -->



    <div class="research-interest">
        <span class="subtitle">Contributions</span>
        <p>Having any NLP Explanation papers that we missed? Cool! Please feel free to {% include _icons/email.html username=' email us' %}!</p>
    </div>



    <div class="research-interest">
        <span class="citationtitle">Citations</span>
        <p>If the resource is helpful to you, please cite our work:</p>
        <div class="citation">
        <pre>@article{human-centered-exnlp:2021:hxcai,
        author = {Shen, Hua and Huang, Ting-Hao (Kenneth)},
        title = {Explaining the Road Not Taken},
        journal = {ACM CHI Workshop on Operationalizing Human-Centered Perspectives in Explainable AI},
        year = {2021}
        }</pre> 
        </div>
    </div>

    <br>

    </div>

</div>




