<!-- ALL ICONS LINK HERE: https://github.com/goodinc/ctzn-ui/tree/gh-pages/assets/images/icons -->

<footer class="site-footer">

    <div class="wrapper">

        <ul class="footer-col footer-col-1">
            <span class="legal"><a class="" href="/">Human-Centered Explainable NLP</a></span>
            <div class="legal">©<a class="" href="/">Crowd-AI Lab</a> (2021)</div>
        </ul>


        <ul class="contact-list footer-col footer-col-2">

            <li>
                <span class="cl-item">
                    {% include _icons/scholar.html username='Paper' %}
                </span>
            </li>
        

            <li>
                <span class="cl-item">
                    {% include _icons/github.html username='Github' %}
                </span>
            </li>

            <li>
                <span class="cl-item">
                    {% include _icons/email.html username=' Email Us' %}
                </span>
            </li>

        </ul>


    </div>
    
</footer>