---
layout: default
---



<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/css/sortable-theme-bootstrap.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/pcooksey/bibtex-js/ef59e62c/src/bibtex_js.js"></script>
  <bibtex src="references.bib"></bibtex>  
  <link rel="stylesheet" href="/assets/css/main.css">
</head>


<script type="text/javascript">
  var table = document.querySelectorAll('table[data-sortable]')[0]
  Sortable.initTable(table)
  var initSortCol = document.querySelectorAll('table[data-sortable] > thead > tr > th[init-sort]')
  if (initSortCol.length > 0) {
    initSortCol[0].click()
  }
  function myFunction(variable) {
    var myWindow = window.open("Quotes", variable, "width=600, height=600");
    myWindow.document.write("<p>"+myWindow.name+"</p>");
  }
</script>



<table class="sortable-theme-bootstrap" data-sortable>
  <thead>
    <th init-sort>ID</th>
    <th>Title</th>
    <th>Year</th>
    <th>Venue</th>
    <th>Feature Importance</th>
    <th>Probing</th>
    <th>Tuple/Graph</th>
    <th>Space Map</th>
    <th>Rule/Grammar</th>
    <th>Free Text</th>
    <th>Concept/Sense</th>
    <th>Example</th>
    <th>Interaction</th>
    <th>Others</th>
  </thead>

  <tbody>
    <tr>
      <td>1</td>
      <td><a href="https://arxiv.org/pdf/1902.10186.pdf">Attention is not Explanation</a></td>
      <td>2019</td>
      <td>NAACL</td>
      <td> {% include _icons/users.html %}<a class="page-link" href="/assets/files/form_quotes/1.html">Quote</a></td>
      <td>{% include _icons/users.html %}</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>

    <tr>
      <td>2</td>
      <td><a href="https://arxiv.org/pdf/1909.11218.pdf">Attention interpretability across nlp tasks</a></td>
      <td>2019</td>
      <td>Arxiv</td>
      <td> {% include _icons/users.html%}<a class="page-link" href="/assets/files/form_quotes/2.html">Quote</a></td>
      <td>{% include _icons/users.html%} </td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    
  </tbody>
</table>


